.footer {
  background: $bg-hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $primary-color;
  text-align: center;
  padding: 3.2rem 0 0.8rem;
  margin-top: -2.4rem;
  &__social {
    padding: 0.8rem 0;
  }

  &__copyright {
    font-size: 1.2rem;
  }

  &__back-to-top {
    position: absolute;
    right: 2.4rem;
    bottom: 2.4rem;
    width: 3.6rem;
    height: 3.6rem;
    background-color: $primary-color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}
