.nav {
  @extend .nav-flex;
  z-index: 100;
  padding: 3rem 0 0;
  @media only screen and (max-width: 480px) {
    justify-content: space-evenly;
  }
  .container {
    @extend .nav-flex;
  }
  &__image {
    width: auto;
    @media only screen and (max-width: 480px) {
      width: 75px;
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  &__item {
    text-align: center;
    margin: 0 0.8rem;
    padding: 0 0 0.5rem;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &:first-child {
      margin: 0 0.8rem 0 0;
    }
    &:last-child {
      margin: 0 0 0 0.8rem;
    }
    &.active {
      @include nav-link-hover-border(2px, solid, var(--accent-color));
    }
  }

  &__switch {
    padding-left: 5rem;
    .custom-control-label {
      cursor: pointer;
    }
    .custom-control-input:checked ~ .custom-control-label:before {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }
  }
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
