.btn {
  border-radius: 0.25rem;
  min-width: 10rem;
  padding: 0.6rem;
  transition: background-color 0.5s;
  border-bottom: 3px solid;
  height: 3.8rem;
  font-size: 1.5rem;

  &--primary {
    @include btn-style(
      $btn-primary-color,
      $btn-primary-color,
      $text-color-light,
      $btn-primary-color-dark
    );
    text-shadow: 1px 1px $text-shadow-color;
  }

  &--secondary {
    @include btn-style(
      $btn-secondary-color,
      $btn-secondary-color,
      $text-color-light,
      $btn-secondary-color-dark
    );
    text-shadow: 1px 1px $text-shadow-color;
  }

  &--light {
    @include btn-style(transparent, $primary-color, $text-color-light, $primary-color);
    &:hover {
      color: $text-color-dark;
    }
  }

  &--dark {
    @include btn-style(
      $secondary-color,
      $secondary-color,
      $text-color-light,
      $secondary-color-dark
    );
  }
}
