.btn {
  border-radius: 0.25rem;
  min-width: 10rem;
  padding: 0.6rem 1rem;
  transition-property: transform, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-bottom: 3px solid;
  height: 3.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
  &:hover {
    transform: translateY(-3px);
  }

  &--primary {
    @include btn-style(
      var(--btn-primary-bg-color),
      var(--btn-primary-bg-color),
      var(--btn-primary-font-color),
      var(--btn-primary-bg-color-dark),
      var(--text-shadow-color)
    );
  }

  &--secondary {
    @include btn-style(
      var(--btn-secondary-bg-color),
      var(--btn-secondary-bg-color),
      var(--btn-primary-font-color),
      var(--btn-secondary-bg-color-dark),
      var(--text-shadow-color)
    );
  }

  &--tertiary {
    @include btn-style(
      var(--btn-tertiary-bg-color),
      var(--btn-tertiary-bg-color),
      var(--btn-primary-font-color),
      var(--btn-tertiary-bg-color-dark),
      var(--text-shadow-color)
    );
  }

  &--rounded {
    border-radius: 10rem;
  }

  &--big {
    font-size: 1.6rem;
    height: auto;
    min-width: 20rem;
  }
}
