.portfolio {
  background-color: $bg-brightness-high;
  a {
    color: $text-color-light;
  }
  &__item {
    padding: 4.8rem 2.4rem;
    margin-top: -2.4rem;

    &:first-child {
      margin-top: -2.5rem;
    }

    &:nth-child(even) {
      background-color: $bg-brightness-medium;
      clip-path: polygon(0 0%, 100% 5%, 100% 100%, 100% 100%, 100% 95%, 0 100%);
    }

    &:nth-child(odd) {
      clip-path: polygon(0 5%, 100% 0%, 100% 100%, 100% 100%, 100% 100%, 0 95%);
    }
    &--brand {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.4rem 0.8rem 0.4rem 0;
      flex: 1 0 auto;

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  &__title {
    margin-bottom: 1.2rem;
    @include media-breakpoint-down(sm) {
      padding-top: 1.8rem;
    }
  }

  &__details {
    margin-bottom: 2.4rem;
    p {
      font-size: 1.6rem;
    }
  }

  &__badge {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: $font-light;
    font-size: 1.4rem;

    &--light {
      background-color: $bg-brightness-high;
    }
    &--dark {
      background-color: $bg-brightness-medium;
    }
  }

  &__preview {
    margin: 2.4rem auto;
    border-radius: 0.5rem;
    width: auto;
    max-width: 100%;
    display: block;

    @include media-breakpoint-up(md) {
      margin: 0 auto;
    }
  }

  &__technical {
    cursor: pointer;
    margin: 2.4rem 0;
    position: relative;

    &__header {
      display: flex;
      justify-content: space-between;
      flex: 1 0 auto;

      h3 {
        font-size: 2rem;
        margin: 0;
      }
    }

    .icon {
      transform: rotate(180deg);
      &.active {
        transform: rotate(0deg);
      }
    }

    img {
      max-height: 50px;
      width: auto;
    }
  }

  &__brands {
    display: flex;
    flex-wrap: wrap;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
  }

  &__load-more {
    margin: 1.2rem 0 3.2rem;
  }
}
