{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modulues": false,
        "targets": {
          "browser": "> 0.25%, ie 11, not op_mini all, not dead",
          "node": 10
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": ["@bebl/preset-env", "@babel/preset-react"]
    }
  }
}
