h2 {
  color: $primary-color;
  font-family: $font-bold;
  font-size: 2.8rem;
  text-transform: uppercase;
}

p {
  color: $text-color-paragraph;
  font-family: $font-light;
  font-size: 1.5rem;
}

.particles {
  p {
    color: $text-color-light;
  }
}
.btn {
  font-size: 1.4rem;
  font-family: $font-light;
  letter-spacing: .4px;
}

.footer {
  p {
    color: $text-color-light;
  }
}