// CSS VAR COLORS
$theme-map-light: (
  -primary-color: white,
  -bg-color: white,
  -hero-bg-color: #282c34,
  -bg-color-odd: #e8e8e8,
  -bg-color-even: #fff,
  -primary-font-color: #fff,
  -secondary-font-color: #2b2a2c,
  -btn-primary-bg-color: #f44336,
  -btn-primary-bg-color-light: #ff7961,
  -btn-primary-bg-color-dark: #d32f2f,
  -btn-primary-font-color: #fff,
  -btn-secondary-bg-color: #5c6bc0,
  -btn-secondary-bg-color-light: #8e99f3,
  -btn-secondary-bg-color-dark: #3f51b5,
  -btn-tertiary-bg-color: #2b2a2c,
  -btn-tertiary-bg-color-light: #3c3b3d,
  -btn-tertiary-bg-color-dark: #1a191b,
  -box-shadow-color: rgba(0, 0, 0, 0.4),
  -text-shadow-color: #2b2a2c,
  -accent-color: #f44336
);

$theme-map-dark: (
  -primary-color: white,
  -bg-color: black,
  -hero-bg-color: #0b0e17,
  -bg-color-odd: #131521,
  -bg-color-even: #1d212d,
  -primary-font-color: #fff,
  -secondary-font-color: #fff,
  -btn-primary-bg-color: #f44336,
  -btn-primary-bg-color-light: #ff7961,
  -btn-primary-bg-color-dark: #d32f2f,
  -btn-primary-font-color: #fff,
  -btn-secondary-bg-color: #5c6bc0,
  -btn-secondary-bg-color-light: #8e99f3,
  -btn-secondary-bg-color-dark: #3f51b5,
  -btn-tertiary-bg-color: #2b2a2c,
  -btn-tertiary-bg-color-light: #3c3b3d,
  -btn-tertiary-bg-color-dark: #1a191b,
  -box-shadow-color: rgba(0, 0, 0, 0.4),
  -text-shadow-color: #2b2a2c,
  -accent-color: #f44336
);

// Descriptive colors
$black: #2b2a2c;
$black-dark: #1a191b;
$black-light: #3c3b3d;
$white: #fff;
$dark-grey: #e8e8e8;
$blue: #5c6bc0;
$blue-dark: #3f51b5;
$blue-light: #8e99f3;
$navy: #282c34;
$red: #f44336;
$red-dark: #d32f2f;
$red-light: #ff7961;

//Filters
$filter-primary-color: invert(45%) sepia(98%) saturate(5543%) hue-rotate(343deg) brightness(99%)
  contrast(93%);
$filter-accent-color: invert(24%) sepia(0%) saturate(1420%) hue-rotate(140deg) brightness(110%)
  contrast(84%);

// Fonts
$font-regular: 'montserratregular';
$font-bold: 'montserratbold';
$font-light: 'montserratlight';

//Bootstrap variable overrides
$enable-responsive-font-sizes: true;
$font-family-base: $font-regular;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
$navbar-nav-link-padding-x: 0;
