.btn {
  border-radius: .5rem;
  min-width: 10rem;
  padding: .6rem 1.2rem;
  transition: background-color .5s;
  border-bottom: 3px solid;
  height: 3.8rem;

  &--primary {
    @include btn-style($btn-primary-color, $btn-primary-color, $text-color-light, $btn-primary-color-dark);
    text-shadow: 1px 1px $text-shadow-color;
  }

  &--secondary {
    @include btn-style($btn-secondary-color, $btn-secondary-color, $text-color-light, $btn-secondary-color-dark);
    text-shadow: 1px 1px $text-shadow-color;
  }

  &--light {
    @include btn-style(transparent, $bg-brightness-high,  $text-color-light, $bg-brightness-high);
    &:hover {
      color: $text-color-dark;
    }
  }
}