.particles {
  background-color: #282c34;
  display: flex;
  flex-direction: column;

  canvas {
    position: fixed;
  }

  &__intro {
    @extend .particles__section;
    align-self: center;
    background-color: transparent;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: block;
      margin: 0 auto 2.4rem auto;
      @include media-breakpoint-up(md) {
        width: 225px;
        height: 225px;
        margin-bottom: 0;
      }
    }
    h1 {
      line-height: 1.3;
      margin: 0;
    }
    ul {
      margin: 1.2rem 0 2.4rem;
    }
    span {
      display: block;
    }
  }

  &__cta {
    @extend .particles__section;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 2.4rem;
  }

  &__scroll-down {
  }
}

.particles__section {
  color: #fff;
  width: 100%;
  z-index: 100;
}