.heading {
  background-color: var(--hero-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.load {
  padding: 5rem 0 7.5rem;
  text-align: center;
  background-color: var(--bg-color-odd);
  img {
    width: auto;
  }
  h2 {
    margin-top: 1.8rem;
    text-transform: unset;
  }
  p {
    font-size: 1.8rem;
  }
}
