.heading {
  @include var(background-color, -hero-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.load {
  padding: 5rem 0 7.5rem;
  text-align: center;
  @include var(background-color, -bg-color-odd);
  img {
    width: auto;
    max-height: 25rem;
  }
  h2 {
    margin-top: 1.8rem;
    text-transform: unset;
    @include var(color, -secondary-font-color);
  }
  p {
    font-size: 1.8rem;
  }
}
