nav {
  z-index: 100;
}

.nav {
  &__item {
    width: 75px;
    text-align: center;
    margin: 0 0.25rem;
    padding: 1rem 0;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &:first-child {
      margin: 0 0.25rem 0 0;
    }
    &:last-child {
      margin: 0 0 0 0.25rem;
    }
    &.active {
      @include nav-link-hover-border(4px, solid, $primary-color);
    }
    &__link {
      &:hover, &.active {
        color: $accent-color;
      }
    }
    a {
      color: $text-color-light;
    }
  }

}

