@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin nav-link-hover-border($px, $type, $color) {
  border-bottom: $px $type $color;
}

@mixin btn-style($background-color, $border-color, $color, $border-bottom-color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
  border-bottom-color: $border-bottom-color;
}





