// colors
// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$hopbush:                   #f44336;
$bouquet:                   #5c6bc0;
$black:                     #000;

// main color palette
$primary-color:             #f44336;
$primary-color-dark:        #d32f2f;
$primary-color-light:       #ff7961;
$secondary-color:           #5c6bc0;
$secondary-color-dark:      #3f51b5;
$secondary-color-light:     #8e99f3;

$text-color-light:          #fff;
$text-color-dark:           #000;



// Links
$color-link:                $primary-color;

// Different fonts
$montserrat: 'montserratregular';
$montserrat-bold: 'montserratbold';


//Bootstrap variable overrides
$enable-responsive-font-sizes: true;
$font-family-base: $montserrat;
$navbar-dark-color: white;
$navbar-dark-hover-color: white;
$navbar-nav-link-padding-x: 0;







