.btn {
  font-size: 1.4rem;
  border-radius: .5rem;
  min-width: 10rem;
  padding: .6rem 1.2rem;
  letter-spacing: .4px;
  transition: background-color .5s;
  border-bottom: 3px solid;
  text-shadow: 1px 1px $text-shadow-color;
  &--demo {
    @include btn-style($primary-color, $primary-color, $text-color-light, $primary-color-dark);
    &:hover {
      @include btn-style($primary-color-dark, $primary-color-dark, $text-color-light, $primary-color-dark);
    }
  }
  &--github, &--load-more {
    @include btn-style($secondary-color, $secondary-color, $text-color-light, $secondary-color-dark);
    &:hover {
      @include btn-style($secondary-color-dark, $secondary-color-dark, $text-color-light, $secondary-color-dark);
    }
  }
}