.particles {
  background-color: #282c34;
  max-height: 100vh;
  display: flex;

  canvas {
    max-height: 100vh;
  }

  &__intro {
    @extend .particles__section;
    align-self: center;
    background-color: transparent;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: block;
      margin: 0 auto 2.4rem auto;
    }

    h1 {
      max-width: 50%;
      margin: 0 auto;
    }

    .fab {
      font-size: 3.2rem;
    }
  }

  &__cta {
    @extend .particles__section;
    align-self: flex-end;
    padding-bottom: 2.4rem;
  }

  &__scroll-down {
    font-size: 2.4rem;
    position: relative;



    text-align: center;
    margin: 8% 0;
  }
}

.particles__section {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
}