// Descriptive colors
$black:                     #2b2a2c;
$black-dark:                #1a191b;
$black-light:               #3c3b3d;
$white:                     #fff;
$dark-grey:                 #e8e8e8;
$blue:                      #5c6bc0;
$blue-dark:                 #3f51b5;
$blue-light:                #8e99f3;
$navy:                      #282c34;
$red:                       #f44336;
$red-dark:                  #d32f2f;
$red-light:                 #ff7961;

// Main colors
$primary-color:             $white;

$secondary-color:           $black;
$secondary-color-dark:      $black-dark;
$secondary-color-light:     $black-light;

// Background
$bg-hero:                   $navy;
$bg-brightness-high:        $white;
$bg-brightness-medium:      $dark-grey;

// Button
$btn-primary-color:         $red;
$btn-primary-color-dark:    $red-dark;
$btn-primary-color-light:   $red-light;

$btn-secondary-color:       $blue;
$btn-secondary-color-dark:  $blue-dark;
$btn-secondary-color-light: $blue-light;

// Text
$text-color-light:          $primary-color;
$text-color-dark:           $black;
$text-color-paragraph:      #333;
$text-shadow-color:         $black;

// Accent colors
$accent-color:              $red;

// Links
$links-color:               $secondary-color;

//Filters
$filter-primary-color:     invert(45%) sepia(98%) saturate(5543%) hue-rotate(343deg) brightness(99%) contrast(93%);
$filter-accent-color:      invert(24%) sepia(0%) saturate(1420%) hue-rotate(140deg) brightness(110%) contrast(84%);

// Fonts
$font-regular: 'montserratregular';
$font-bold: 'montserratbold';
$font-light: 'montserratlight';

//Bootstrap variable overrides
$enable-responsive-font-sizes: true;
$font-family-base: $font-regular;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
$navbar-nav-link-padding-x: 0;










