//https://stackoverflow.com/questions/36105194/are-eot-ttf-and-svg-still-necessary-in-the-font-face-declaration

@font-face {
  font-family: 'montserratregular';
  src: url('../assets/fonts/Montserrat/montserratregular-webfont.woff2') format('woff2');
  src: url('../assets/fonts/Montserrat/montserratregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'montserratlight';
  src: url('../assets/fonts/Montserrat/montserratlight-webfont.woff2') format('woff2');
  src: url('../assets/fonts/Montserrat/montserratlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../assets/fonts/Montserrat/montserratbold-webfont.woff2') format('woff2');
  src: url('../assets/fonts/Montserrat/montserratbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
