// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text-shadow {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.auto-viewport-height {
  min-height: auto;
}

.hidden {
  display: none;
}

.xs-fs {
}

.s-fs {
}

.m-fs {
  font-size: 1.8rem;
}

.l-fs {
}

.xl-fs {
}

.odd {
  @include var(background-color, -bg-color-odd);
}
.even {
  @include var(background-color, -bg-color-even);
}
