h2 {
  font-family: $font-bold;
  font-size: 2.8rem;
  text-transform: uppercase;
}

a {
  color: var(--primary-font-color);
}

p {
  color: var(--primary-font-color);
  font-family: $font-light;
  font-size: 1.5rem;
}

.portfolio {
  color: var(--secondary-font-color);
  h2,
  p {
    color: var(--secondary-font-color);
  }
}

span {
  font-family: $font-light;
  font-size: 2.4rem;
}

nav {
  font-size: 2rem;
  a {
    font-family: $font-light;
  }
}
.btn {
  font-size: 1.4rem;
  font-family: $font-light;
  letter-spacing: 0.4px;
}
